{% extends "header.html" %}
{% load static %}
{% block title%}Inicio - {% endblock %}
{% block content%}
    {{ block.super }}
    <main class="container">
        <p class="fs-3 ">Bienvenido, {{ user.first_name }}</p>
        <div class="d-flex flex-column">
            
            <div class="rounded-2 p-4 bg-light d-flex position-relative flex-column align-self-center" style="width: 600px;">
                <h2><i class="fa-solid fa-money-bill-1-wave"></i> Balance general</h2>
                <p class="text-primary" style="font-size: 60px;">${{ balance }}</p>
                
                <img src="{% static '/svg/img.svg' %}" style="width: 250px; height: 250px;" 
                class="position-absolute bottom-0 end-0"
                />
            </div>

            <h2 class="mt-3"><i class="fa-solid fa-coins"></i> Cuentas</h2>
            <div class="mt-2 d-flex flex-column">
                <h3 class="mt-3">Ingreso y gasto</h3>
                <div class="d-flex flex-row gap-3">
                    {% for cuenta in cuentas %}
                        {% if cuenta.tipo == "IE" %}
                        <div class="border border-light-emphasis rounded-2 d-flex flex-column p-3">
                            <h4>{{ cuenta.nombre }}</h4>
                            <p class="badge bg-success-subtle text-success fs-6">{{ cuenta.get_tipo_display }}</p>
                            <p class="fs-4">{{ cuenta.monto }}</p>
                        </div>
                        {% endif %}
                        {% empty %}
                    <p>No hay cuentas todavía</p>
                    {% endfor %}
                </div>
                <h3 class="mt-3">Ingreso</h3>
                <div class="d-flex flex-row gap-3">
                    {% for cuenta in cuentas %}
                        {% if cuenta.tipo == "I" %}
                        <div class="border border-light-emphasis rounded-2 d-flex flex-column p-3">
                            <h4>{{ cuenta.nombre }}</h4>
                            <p class="badge bg-warning-subtle text-warning fs-6">{{ cuenta.get_tipo_display }}</p>
                            <p class="fs-4">{{ cuenta.monto }}</p>
                        </div>
                        {% endif %}
                        {% empty %}
                    <p>No hay cuentas todavía</p>
                    {% endfor %}
                </div>
                <h3 class="mt-3">Gasto</h3>
                <div class="d-flex flex-row gap-3">
                    {% for cuenta in cuentas %}
                        {% if cuenta.tipo == "E" %}
                        <div class="border border-light-emphasis rounded-2 d-flex flex-column p-3">
                            <h4>{{ cuenta.nombre }}</h4>
                            <p class="badge text-danger bg-danger-subtle fs-6">{{ cuenta.get_tipo_display }}</p>
                            <p class="fs-4">{{ cuenta.monto }}</p>
                        </div>
                        {% endif %}
                        {% empty %}
                    <p>No hay cuentas todavía</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}